@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #25aef3;
  --color-secondary: #5608cd;
}


.font{
    font-family: "Alumni Sans SC", sans-serif;
}