
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  default: true;
  --color-primary: #3B82F6;
  --color-secondary: #88CBF2;
}

.active{
  text-decoration: underline;
  @apply text-primary
}

